<div class="center jumbotron">
  <h1>Hello, World!</h1>
  <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
<%= link_to "Sign up now", "#", class: "btn btn-primary btn-lg btn-xlarge" %>
</div>

